<div class='ui sizer vertical segment'>
<h1 class='ui violet center aligned huge header'>All Trips:</h1>
</div>

<div>
<% if @trips.any? %>
<% @trips.each do |trp| %>
<div class='ui link list'>
  <h3 class='ui center aligned huger header'><%= link_to trp.name, trip_path(trp) %></h3>
</div>
  <% end %>
<% else %>

  <h2>No trips saved, <%= link_to "create one", new_trip_path %>?</h2>
<% end %>
</div>
