<%= link_to 'Back', trip_path(@trip)%>
<!-- <%= link_to 'Add Location', new_trip_location_path(@trip)%> -->

<h1>All locations for <strong><%= @trip.name %></strong></h1>

<% @locations.each do |loc| %>
  <%= link_to trip_location_path(@trip, loc) %>
<% end %>

<!-- Need Create / Add, commented it out all versions were cuasing errors-->
